<%= render partial: 'error' %>

<% if @user %>
  <div class="container">
    <%= form_for @user, method: :post, url: reset_password_users_path do |f| %>
    <div class="row">
      <h2 class="col-md-12">Reset your password</h2>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-md-4">
        <label for="link_url">New Password:</label>
        <%= f.password_field :password, class: "form-control"%>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-md-4">
        <label for="link_url">Confirm Password:</label>
        <%= f.password_field :password_confirmation, class: "form-control"%>
      </div>
    </div>

    <%= f.hidden_field :reset_token, value: @reset_token_value %>

    <div class="row">
      <div class="col-xs-6 col-md-4">
        <%= f.submit 'Reset password', class: "form-control" %>
      </div>
    </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <%= form_tag({action: 'begin_reset_password', controller: :users}, {method: 'GET'}) do %>
      <div class="row text-center">
        <h2 class="col-md-12">Enter your token</h2>
      </div>

      <div class="row">
        <div class="form-group col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-4">
          <label for="user_username">Password Reset Token (from email):</label>
          <%= text_field_tag 'reset_token', nil, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-4">
            <%= submit_tag 'Submit', class: "form-control" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>